* {
    box-sizing: border-box;
  }
  
  #logo {
      width: 200px;
      height: 178px;
      align-items: right;
      }
      body {
    width: 100%;
    background-color: rgb(230, 173, 195);
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  h1,h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
  }
  
  input {
    color: #000 ;
  }
  
  .uneaten-title {
    text-align: left;
    font-size: 25px;
  }

  .eaten-title {
    font-size: 25px;
  }
  
  #pacman-title {
    margin-top: 10px;
  }
  
  #pacman {
    float: left;
  }
  
  #ghost {
    float: right;
  }
  
  ul.uneaten li{
    display: inline-block;
    float: left;
    list-style-type:none;
    margin: 10px;
  }
  
  #update {
  text-align: center;
  }
  
  #eaten {
    text-align: center;
  }
  
  .burgers-eaten {
    overflow-y: scroll;
  }

  .add-title {
    font-size: 25px;
  }
  
  button {
    background-color: rgb(194, 124, 151);
    color: white;
  }
  